@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>aaaaaaaAAAAAAAAaaaaaa!</h2>
            </hgroup>
            <p>
               Click buttons.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        Welcome
    </li>

    <li class="two">
        to
    </li>

    <li class="three">
        The Homepage placeholder!
    </li>
</ol>
