@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>This looks awful!</h2>
            </hgroup>
            <p>
                But its moreso a test of core functionality rather than display
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<div class=" alert-danger"> Google some bootstrap pages, quick!</div>
